{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Добавить организацию</h1>

    {{ include('organization/_form.html.twig') }}

    <a href="{{ path('organization_index') }}">{{ 'back_to_list'|trans }}</a>
{% endblock %}
