<form method="post" action="{{ path('canal_delete', {'extId': canal.extId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ canal.extId) }}">
    <button class="btn btn-default">{{ 'Delete'|trans }}</button>
</form>
