{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Редактировать канал</h1>

    {{ include('canal/_form.html.twig',{'button_label':'Редактировать'}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('canal') }}">
                Назад к списку
            </a>
        </li>
    </ul>
    <div class="section actions">
        {{ include('canal/_delete_form.html.twig', {canal: canal}, with_context = false) }}
    </div>

{% endblock %}

