<!DOCTYPE html>

<title>New Canal</title>

{% block body %}
    <h1>Create new Canal</h1>

    {{ include('canal/_form.html.twig') }}

    <a href="{{ path('canal') }}">back to list</a>
{% endblock %}
