{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Редактировать регион</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('region') }}">
                Назад к списку
            </a>
        </li>
    </ul>
    <div class="text-right">{{ form(delete_form) }}</div>
{% endblock %}
