{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Добавить регион</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('region') }}">
                Назад к списку
            </a>
        </li>
    </ul>
{% endblock %}
