{% extends 'layout.html.twig' %}

{% block content -%}
    <h1>Новый тип оборудования</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('equipmenttype') }}">
                Назад к списку
            </a>
        </li>
    </ul>
{% endblock %}
